# Supabase local API Endpoint
VITE_SUPABASE_URL=

# Supabase Anon Key (Mock local anon key)
VITE_SUPABASE_ANON_KEY=

# Seed user credentials for Pessoal (Personal profile)
VITE_SEED_USER_PESSOAL_EMAIL=
VITE_SEED_USER_PESSOAL_PASSWORD=

# Seed user credentials for Negocio (Business profile)
VITE_SEED_USER_NEGOCIO_EMAIL=
VITE_SEED_USER_NEGOCIO_PASSWORD=
